// ----- Colors ----- //

$main-color: #70033E; 
$second-color: #8E004D;
$base-color: #FBFBFB;
$text-dark-color: #303030;
$text-light-color: #F9F9F9;


// ----- Fonts ----- //

$title: 'Chelsea Market', cursive;
$general: 'Ubuntu', sans-serif;


// ----- Transitions ----- //

$linear: all 0.5s linear;
$ease: all 0.5s ease;